<% provide(:title, "") %>

<div class="container container-top">
<div class="col col-md-6 offset-3 login-top">
  <div class="center jumbotron">
    <p>
      <i class="fas fa-cubes"></i>
      簡易予定表
    </p>
    <%# <%= render 'users/sessions/ne' %> %>
    <div class="admin-link"><%= link_to "", '#', class: "fas fa-user-cog fa-lg" %></div>
  </div>
</div>
</div>
