<% provide(:title, "") %>

<div class="container container-top">
  <div class="col col-md-6 offset-3 login-top">
    <div class="center jumbotron">
      <p>簡易予定表</p>
      <%= link_to "ユーザー登録", new_user_path %>
      <%= link_to "ユーザー一覧", users_path %>
      <!-- <= render 'users/sessions/ne' %> -->
    </div>
  </div>
</div>
