@import "bootstrap";


/* 共通 */

* {
  font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

body {
  padding-top: 70px;
}

.center {
  text-align: center;
}

h1, h2 {
  text-align: center;
  margin-top: 20px;
}

.btn-default {
  color: #fff;
  background-color: #00634c;
}

.user-form {
  margin-bottom: 20px;
}

/* ヘッダーレスポンシブ */

/* ウィンドウ幅が767px以上 */
@media screen and (min-width: 767px) {

}

/* ウィンドウ幅が最大767pxまで */
@media screen and (max-width: 767px) {

}

 /* ウィンドウ幅が最大479pxまで */
@media screen and (max-width: 479px) {

}

/* ヘッダー */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.bg-default {
  background-color: #00634c;
}

/* トップページ */

.login-top {
  margin: auto;
  margin-top: 100px;
  text-align: center;
  p {
    text-align: left;
  }
}

/* デバッグ */

.debug_dump {
  padding: 0.5em 1em;
  margin: 2em 0;
  border: double 5px #273a60;
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
