@import "bootstrap";


/* 共通 */

* {
  font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

body {
  padding-top: 70px;
}

.center {
  text-align: center;
}

h1, h2 {
  text-align: center;
  margin-top: 20px;
}

.btn-default {
  color: #fff;
  background-color: #00634c;
}

.btn-default:hover {
  color: #fff;
}

.user-form {
  margin-bottom: 20px;
}

.dropdown-menu {
  background-color: #00634c;
}

/* ヘッダーレスポンシブ */

/* ウィンドウ幅が767px以上 */
@media screen and (min-width: 767px) {

}

/* ウィンドウ幅が最大767pxまで */
@media screen and (max-width: 767px) {

}

 /* ウィンドウ幅が最大479pxまで */
@media screen and (max-width: 479px) {

}

/* ヘッダー */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.bg-default {
  background-color: #00634c;
}

/* トップページ */

.login-top {
  margin: auto;
  margin-top: 100px;
  text-align: center;
  p {
    text-align: left;
  }
}

/* ユーザー予定表 */

#table-plans {
  th {
    vertical-align: middle;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
}

/* 予定登録 */

.btn-new-plan {
  margin-top: 10px;
}

/* === ボタンを表示するエリア ============================== */
.btn-plan {
  float: left;
  margin: 10px 8px 0 0;                /* 中央寄せ */
  width: 60px;                /* ボタンの横幅 */
}

/* === チェックボックス ==================================== */
.btn-plan input[type="checkbox"] {
  display: none;            /* チェックボックス非表示 */
}

/* === チェックボックスのラベル（標準） ==================== */
.btn-plan label {
  display: block;               /* ボックス要素に変更 */
  box-sizing: border-box;          /* 枠線を含んだサイズ */
  text-align: center;              /* 文字位置は中央 */
  border: 2px solid #ccc;      /* 枠線(一旦四方向) */
  border-radius: 3px;                 /* 角丸 */
  height: 40px;                /* ボタンの高さ */
  font-size: 18px;                /* 文字サイズ */
  line-height: 40px;                /* 文字の高さ */
  font-weight: bold;                /* 太字 */
  background: #ced4da;                /* 背景色 */
  box-shadow: 3px 3px 6px #888;    /* 影付け */
  transition: .3s;                 /* ゆっくり変化 */
}

/* === ON側のチェックボックスのラベル（ONのとき） ========== */
// .btn-plan label span:after{
//   content: "OFF";
//   color: #aaa;
// }
.btn-plan #plan_1_check + label span:after {
  content: "直行"; /* 表示する文字 */
  color: #fff; /* 文字色 */
}

.btn-plan #plan_1_check:checked + label {
  background: #78bd78; /* 背景色 */
  box-shadow: none; /* 影を消す */
}

.btn-plan #plan_1_check:checked + label span:after {
  content: "直行"; /* 表示する文字 */
  color: #fff; /* 文字色 */
}

.btn-plan #plan_2_check + label span:after {
  content: "展示会";
  color: #fff;
}

.btn-plan #plan_2_check:checked + label {
  background: #78bd78;
  box-shadow: none;
}

.btn-plan #plan_2_check:checked + label span:after {
  content: "展示会";
  color: #fff;
}

.btn-plan #plan_3_check + label span:after {
  content: "会議";
  color: #fff;
}

.btn-plan #plan_3_check:checked + label {
  background: #78bd78;
  box-shadow: none;
}

.btn-plan #plan_3_check:checked + label span:after {
  content: "会議";
  color: #fff;
}

.btn-plan #plan_4_check + label span:after {
  content: "出張";
  color: #fff;
}

.btn-plan #plan_4_check:checked + label {
  background: #78bd78;
  box-shadow: none;
}

.btn-plan #plan_4_check:checked + label span:after {
  content: "出張";
  color: #fff;
}

.btn-plan #plan_5_check + label span:after {
  content: "代休";
  color: #fff;
}

.btn-plan #plan_5_check:checked + label {
  background: #ef858c;
  box-shadow: none;
}

.btn-plan #plan_5_check:checked + label span:after {
  content: "代休";
  color: #fff;
}

.btn-plan #plan_6_check + label span:after {
  content: "有給";
  color: #fff;
}

.btn-plan #plan_6_check:checked + label {
  background: #ef858c;
  box-shadow: none;
}

.btn-plan #plan_6_check:checked + label span:after {
  content: "有給";
  color: #fff;
}

.btn-plan #plan_7_check + label span:after {
  content: "その他";
  color: #fff;
}

.btn-plan #plan_7_check:checked + label {
background: #595757;
box-shadow: none;
}

.btn-plan #plan_7_check:checked + label span:after {
  content: "その他";                /* 表示する文字 */
  color: #fff;                /* 文字色 */
}

/* デバッグ */

.debug_dump {
  padding: 0.5em 1em;
  margin: 2em 0;
  border: double 5px #273a60;
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
