<header class="navbar navbar-expand navbar-dark bg-default fixed-top"">
  <div class="container">
    <%= link_to "簡易予定表", '#', id: "logo" %>
    <nav>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><%= link_to "Top", '#', class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "Log in", '#', class: "nav-link" %></li>
      </ul>
    </nav>
  </div>
</header>
