<header class="navbar navbar-expand navbar-dark bg-default fixed-top"">
  <div class="container">
    <%= link_to "簡易予定表", root_path, id: "logo" %>
    <nav>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><%= link_to current_user.name, user_path(current_user), class: "nav-link" if logged_in? %></li>
        <li calss="nav-item"><%= link_to "Log out", logout_path, method: :delete, class: "nav-link" %></li>
      </ul>
    </nav>
  </div>
</header>
